<!--
We will make a slider with stylized thumbnails using CSS3
The markup is very simple:
Radio Inputs
Labels with thumbnails to detect click event
Main Image
-->
<div class="slider">
    <ng-container *ngFor="let photo of photos; let i = index">

        <input type="radio" name="slide_switch" id="id{{i}}" [checked]="i==0"/>
        <label for="id{{i}}">
          <img src="{{photo}}" width="100"/>
        </label>
        <img src="{{photo}}" class="gallery-image"/>
    
    </ng-container>
    
  </div>
  
  <!-- We will use PrefixFree - a script that takes care of CSS3 vendor prefixes
  You can download it from http://leaverou.github.com/prefixfree/ 
  <script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
  -->