<div [class.hidden]="!isLoggedin()" class="delete-section default-margin-top">
    <button mat-raised-button color="warn" (click)="delete()">Delete robot</button>
</div>

<div class="default-margin-top">
  <app-gallery [photos]="galleryImages"></app-gallery>
</div>

<div class="product-info default-margin-top">
  <h1 class="custom-font">{{ name }}</h1>
  <div class="price">Price:
    <span>{{ price }} &euro;</span>
  </div>
  <div class="description">
    <h2 class="custom-font">Robot information</h2>
    <span>
      {{ description }}
    </span>
  </div>
</div>
