.product-info {
	display:block;
}
.delete-section {
	padding: 1em;
	text-align: right;
}
.description {
	font-size: 1.2em;
	padding-bottom: 5em; /** The page looks a bit stange without space at the bottom **/
}