<div class="add-section" [class.hidden]="!isLoggedIn()">
  <button mat-raised-button color="accent" (click)="navigateToAddRobotForm()">Add new robot</button>
</div>

<div class="grid-parent grid-container default-margin-top">

  <!-- Categories -->
  <div class="grid-30 ">
      <app-category (categoryIdEmittor)="onCategoryUpdate($event)"></app-category>
  </div>

  <!-- Banner -->
  <div class="banner grid-70">
    &ngsp;
  </div>
</div>


<div>
  <!-- Product listing and categories -->
  <div class="container">
      <div class="section">
        <div class="section-header custom-font">
          Our robots
        </div>
        <div class="section-content">
          <showcase-list [robots]="robots" [categoryId]="categoryId"></showcase-list>
        </div>
      </div>

  </div>
</div>