<div class="banner">
</div>

<!-- Product listing and categories -->
<div class="container">
  <!-- Categories -->
  <div class="section section-left">
    <div class="section-header styled-header">
      Categories
    </div>
    <div class="section-content">
      <app-category></app-category>
    </div>
  </div>

    <div class="section section-right">
      <div class="section-header styled-header">
        Our robots
      </div>
      <div class="section-content">
        <app-list></app-list>
      </div>
    </div>

</div>

<!--

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="padding-bottom-1">



  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">



  </mat-grid-tile>
</mat-grid-list>
</div>
-->
