
@import './../../../../../assets/css/colors';

.container {
    display: flex;
    margin-top:1em;
}

app-category,
.banner {
    min-height: 296px;
}

.banner {
    
    background:url('./../../../../../assets/background/robots-159598.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color:$templateColor; 
    background-size: contain;
}

.add-section {
	padding: 1em;
	text-align: right;
}