
@import './../../../../../assets/css/colors';

.container {
    display: flex;
    margin-top:1em;
}

app-category,
.banner {
    min-height: 296px;
}

.banner {
    background:$templateColor; 
}


.section-right {
    width:100%;
    margin-left:1em;

    .section-header {
        border-color: $templateColor;
    }    
}

.add-section {
	padding: 1em;
	text-align: right;
}