<div class="full-screen-container aligner">

  <div class="login-form">
    <div class="header">
      <img src="./../../../../../assets/icons/man.svg" alt="Kiwi standing on oval">
    </div>

    <app-simple-loader [class.hidden]="!isLoading"></app-simple-loader>

    <form loginForm="ngForm" [class.hidden]="isLoading">
      <div class="input">
        <mat-form-field class="full-width">
          <input matInput placeholder="Your username" [(ngModel)]="username" type="text" [formControl]="usernameFormControl" />
          <mat-error *ngIf="usernameFormControl.hasError('minlength')">
            Username should be between 5 and 30 characters long.
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
            Username should be between 5 and 30 characters long.
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field class="full-width">
          <input matInput placeholder="Your password" type="password" [(ngModel)]="password" [formControl]="passwordFromControl" />
          <mat-error *ngIf="passwordFromControl.hasError('minlength')">
            Password should be between 5 and 30 characters long.
          </mat-error>
          <mat-error *ngIf="passwordFromControl.hasError('maxlength')">
            Password should be between 5 and 30 characters long.
          </mat-error>
          <mat-error *ngIf="passwordFromControl.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>

    <span class="error" [class.hidden]="!errorMessage">{{ errorMessage }}</span>
  </div>

</div>
