
/** Styling the categories **/

.section-content {
    .category-entry {
        padding: 0.4em;
    }
    .active,
    .category-entry:hover {
        background-color: #3f51b5;
        cursor: pointer;
    }
    .active a,
    .category-entry:hover a {
        color: white!important;
    }
    .category-entry a {
        color: black;
        font-size: 1.2em;
        text-decoration: none;
    }
}

.clear-filters-link a {
    color:rgb(19, 35, 185);
    margin-left:0.3em;
}