<div class="grid-container main-menu">
    <mat-toolbar-row>
      <!-- style.hidden="sideNavAvailable" click="openSideNav()" -->
      <i class="material-icons pointer margin-right-1 hide-on-desktop hide-on-tablet" id="navigation-buttom" >menu</i>
      <span (click)="navigateHome()" class="pointer styled-header">RobotStore</span>

      <span style="flex: 1 1 auto;">&nbsp;</span>

      <!-- login and logout buttons -->
      <i (click)="login()"  class="material-icons pointer" title="Login"  [class.hidden]="isLoggedIn()">account_circle</i>
      <i (click)="logout()" class="material-icons pointer" title="Logout" [class.hidden]="!isLoggedIn()">settings_power</i>
    </mat-toolbar-row>
</div>
